<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinglan.FreeRead">

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 权限声明 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activitys.MainActivity" />
        <activity android:name=".Activitys.Activity_Home_NewsInfo" />
        <activity android:name=".Activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Activity_Register" />
        <activity android:name=".Activitys.Activity_Login" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Activitys.Activity_Setting" />
        <activity android:name=".Activitys.Activity_OnlineHelper" />
        <activity android:name=".Activitys.Activity_News" />
        <activity android:name=".Activitys.Activity_NormalQuestion" />
        <activity android:name=".Activitys.Activity_AskQuestion" />
        <activity android:name=".Activitys.Activity_AboutUs" />
        <activity android:name=".Activitys.Activity_TiXian" />
        <activity android:name=".Activitys.Activity_Setting_BindBankCard" />
        <activity android:name=".Activitys.Activity_Setting_MyBankCard" />
        <activity android:name=".Activitys.Activity_ReadSet" />
        <activity android:name=".Activitys.Activity_UserAgreement" />
        <activity android:name=".Activitys.Activity_FindPassword"></activity>
    </application>

</manifest>